    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    /* Bold the first row */
    
    tr:first-child {
        font-weight: bold
    }
    
    h1 {
        color: #05457f;
    }

    h2 {
        
        color: #05457f;
        
    }

    

    button {
        float: left;
    }


    
    body {
        font-family: "Lato", sans-serif;
        font-size: 150%;
        background-color: #f2f2f2;
        /* background-image: url("https://i.gifer.com/PHiR.gif"); */
        /* background-image: url("https://i.gifer.com/RMrT.gif"); */
        /* background-image: url("https://cutewallpaper.org/21/tiling-background-tumblr/50-Pixel-Wallpaper-Tumblr-on-WallpaperSafari.gif"); */
        /* background-image: url("https://cutewallpaper.org/21/tiling-background-tumblr/Snow-Backgrounds.jpg"); */
        background-image: url("https://64.media.tumblr.com/3595220382818394f62d84319c8995b8/tumblr_p6f5mdOscq1xormwyo2_250.png");
    }
    /*Upload file buttons*/
    
    span {
        font-size: 12px;
    }
    
    .fileBtn {
        background-color: white;
        color: black;
        cursor: pointer;
        font-size: 12px;
        padding: 1px 6px;
        border: 1px solid gray;
    }
    
    .fileBtn:hover {
        background: lightgray;
        color: black;
    }
    /* Homepage heading */
    
    .center {
        display: block;
        margin: auto;
        margin-top: 50px;
        text-align: center;
    }
    /* Homepage image */
    
    .centered {
        position: fixed;
        top: 25%;
        left: 38%;
    }
    /* Cell invert on highlight */
    
    .cellh:hover {
        background: black;
        color: white;
    }
    
    table {
        font-size: 75%;
    }

    
    
    .tableDiv {
        float: left;
        border: 1px solid black;
        background-color: #ffffff;
        height: 60%;
        width: 45%;
        padding: 20px;
        /* Adds a scrollbar if the table is huge*/
        overflow: auto;
        margin-bottom: 15px;
    }
    
    .tempDiv {
        float: left;
        border: 1px solid black;
        background-color: #ffffff;
        height: 60%;
        width: 45%;
        margin-left: 10px;
        padding: 20px;
        font-size: 75%;
        /* Adds a scrollbar if the table is huge*/
        overflow: auto;
        margin-bottom: 15px;
    }
    /* The sidebar menu */
    
    .sidenav {
        height: 100%;
        /* Full-height: remove this if you want "auto" height */
        width: 160px;
        /* Set the width of the sidebar */
        position: fixed;
        /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1;
        /* Stay on top */
        top: 0;
        /* Stay at the top */
        left: 0;
        background-color: #05457f;
        /* Uni Blue */
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 20px;
        font-weight: bold
    }
    /* The navigation menu links */
    
    .default {
        text-align: center;
        text-decoration: none;
        /* no line */
        font-size: 25px;
        color: #ffffff;
        display: block;
    }
    
    .current {
        text-align: center;
        text-decoration: none;
        font-size: 25px;
        color: #05457f;
        /* Colour of text is Uni Blue */
        background-color: #f2f2f2;
        display: block;
    }
    /* Style page content */
    
    .main {
        margin-left: 160px;
        /* Same as the width of the sidebar */
        padding: 0px 10px;
        /* Right & left padding is 10px*/
    }
    /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
    
    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
        .sidenav a {
            font-size: 18px;
        }
    }
    
    a {
        display: block;
        position: relative;
        /*what does relative position do here?*/
        padding: 0.4em 0;
        /*top & bottom padding relative to the font size*/
    }
    /* Fade in animation to the side bar elements*/
    
    a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.125em;
        background-color: #ffffff;
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
    }
    
    a:hover::after,
    a:focus::after {
        opacity: 1;
        transform: translate3d(0, 0.2em, 0);
    }
    
    .sidenav a::after {
        opacity: 1;
        transform: scale(0);
        transform-origin: center;
    }
    
    .sidenav a:hover::after,
    .sidenav a:focus::after {
        transform: scale(1);
    }